## Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

## Go
go.work
vendor/

## Build output
bin/
dist/
build/

## OS
.DS_Store
Thumbs.db

## Configuration files
config.*
.env
.env.*
*.local.*

## Allow example configs
!*example*

## Logs
log/
logs/
*.log*
